<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Finance Control</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('js/global.js') }}"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
